$border-color: black;
$border-size: 5px;
$button-background: rgb(14, 13, 13);
$button-color: white;


*, *::after, *::before { box-sizing: border-box; }

body {
  width: 100%;
  text-align: center;
  background-color: rgb(233, 227, 227);
  
  .main-title{
  }
}

.board {
  display:grid;
  margin: 0 auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  justify-content: center;
  align-content: center;
  width: 550px;
  height: 550px;
  color: black;
  text-shadow: 2px 2px rgb(255, 251, 251);
  background-color: rgba(245, 241, 241, 0.603); 

  div:first-child {
    border-right: $border-size solid $border-color;
    border-bottom: $border-size solid $border-color;

  }
  div:nth-child(2) {
    border-bottom: $border-size solid $border-color;
  }

  div:nth-child(3n) {
    border-left: $border-size solid $border-color;
    border-bottom: $border-size solid $border-color;
  }

  div:nth-child(4) {
    border-right: $border-size solid $border-color;
    border-bottom: $border-size solid $border-color;
  }

  div:nth-child(5) {
    border-bottom: $border-size solid $border-color;  
  }

  div:nth-child(7) {
    border-right: $border-size solid $border-color;
  }

  div:nth-child(9) {
    border-bottom: none;
  }
  .spot {
    text-align: center;
    
    h1 {
      font-size: 4rem;
      padding: 0;
      align-self: center;
      justify-self: center;
      height: 100%;
    }
  }

  .color-win{
    background-color: rgba(6, 231, 6, 0.685);
    transition: 1.5s;
  }

  .color-lose {
    background-color: rgba(255, 0, 0, 0.664);
    transition: 1.5s;
  }
}

.play-btns {

  @keyframes blink { 
    50% { border-color: white; } 
  }

  .play-btn {
    width: 3rem;
    height: 3rem;
    height: 3rem;
    margin: 1.5rem;
    border: solid 4px gray;
    background-color: $button-background;
    color: white;
    font-size: 1.5rem;
    animation: $border-color;
    animation: blink 3s linear infinite alternate;
  }
}

.restart-btn {
  margin: 1.5rem auto;
  width: 7.5rem;
  height: 3rem;
  font-size: 1.5rem;
  color: white;
  background-color: $button-background;
}

